---
title: Redis
linkTitle: Redis
---

{{< blocks/section color="white" >}}

<p class="lead mb-5">
    <!-- TODO: get this text from the intro.md -->
    Redis is an open source (BSD licensed), in-memory data structure store, used as a database, cache, and message broker.
    Redis provides data structures such as strings, hashes, lists, sets, sorted sets with range queries, bitmaps, hyperloglogs, geospatial indexes, and streams.
    Redis has built-in replication, Lua scripting, LRU eviction, transactions, and different levels of on-disk persistence, and provides high availability via Redis Sentinel and automatic partitioning with Redis Cluster.
    <!-- TODO: add link to intro.md -->
</p>

{{% blocks/feature title="Try it" icon="fa-play" %}}
<!-- TODO: Links -->
Ready for a test drive? Check this interactive tutorial that will walk you through the most important features of Redis.

{{% /blocks/feature %}}

{{% blocks/feature title="Download it" icon="fa-download" %}}
<!-- TODO: Links -->
Redis 6.2.6 is the latest stable version. Interested in release candidates or unstable versions? Check the downloads page.

{{% /blocks/feature %}}

{{% blocks/feature title="Quick links" icon="fa-link" %}}
<!-- TODO: Links -->
Follow day-to-day Redis on Twitter and GitHub. Get help or help others by subscribing to our mailing list, we are 5,000 and counting!

{{% /blocks/feature %}}

{{< /blocks/section >}}
